# Core Data Science Stack
pandas>=2.2
numpy>=1.26
matplotlib>=3.3.0
scipy>=1.7.0

# Geospatial Data Processing
geopandas>=1.1
shapely>=1.7.0

# Excel & File I/O
openpyxl>=3.0.0
pyarrow>=5.0.0

# Jupyter (includes ipykernel automatically)
jupyter>=1.0.0

# create PDF codebook of clean data files
pypdfcodebook
